<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>About</ion-title>

  </ion-navbar>
</ion-header>

<ion-content>
  <img src="assets/img/TOCONVERT2.png">

  <div padding class="about-info">
    <h4>Thank you for your time!</h4>
    <h6><strong>Project Development Information</strong></h6>
    <div text-center>
      <p>
        This project was made by FCT UNL students for SCMU 2017 by Jorge Valadas
        41803 and Cristiano Martins 41915.
      </p>

    </div>
  </div>
</ion-content>
