<ion-tabs [selectedIndex]="mySelectedIndex">
  <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="calendar"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Smart Drive" tabIcon="map"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Manual Drive" tabIcon="contacts"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="About" tabIcon="information-circle"></ion-tab>
</ion-tabs>
