<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Smart Drive</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <img src="assets/img/TOCONVERT1.png">
  <div padding class="about-info">
    <h4>Enjoy an autonomous experience!</h4>
    <h6><strong>Information</strong></h6>
    <div text-center>
      <p>
        Connected to: <span class="sensor-info">{{getArduinoName()}}</span>
      </p>
      <p>
        Current speed: <span class="sensor-info">{{getCurrentSpeed()}} km/h</span>
      </p>
      <p>
        Distance to closest object: <span class="sensor-info">{{getDistanceToClosestObject()}} cm</span>
      </p>
    </div>
    
    <div >
    <h6><strong>Acceleration</strong></h6>
      <ion-grid>
        <ion-row >
          <ion-col col-9>
            Selected value: <span class="sensor-info">{{singleValue}}</span>
          </ion-col>
          <ion-col col-3>
            <button  ion-button color="danger" (click)="commandStop()">Stop</button>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-list style="max-width:700px">
        <ion-item >
          <ion-range [(ngModel)]="singleValue" color="danger" pin="true" (touchend)="sendSpeed()"
           (mouseup)="sendSpeed()">
            <ion-label range-left>0</ion-label>
            <ion-label range-right>100</ion-label>
          </ion-range>
        </ion-item>
      </ion-list>



      <h6><strong>Driving options</strong></h6>

      <ion-list style="max-width:700px">
        <ion-list-header>
          Smart driving
        </ion-list-header>

        <ion-item>
          <ion-label>Activate autonomous drive</ion-label>
          <ion-checkbox [(ngModel)]="autonomousDrive" (click)="toggleAutonomousDrive()"></ion-checkbox>
        </ion-item>

      </ion-list>

      <ion-list style="max-width:700px" radio-group [(ngModel)]="autoManufacturers">

        <ion-item>
          <ion-label>Avoid obstacles</ion-label>
          <ion-radio [disabled]="!autonomousDrive" value="avoidObstacles" (click)="startAutonomousDrive()"></ion-radio>
        </ion-item>

        <ion-item>
          <ion-label>Follow black line</ion-label>
          <ion-radio [disabled]="!autonomousDrive" value="followLine" (click)="startLineFollow()"></ion-radio>
        </ion-item>

      </ion-list>
    </div>
    <div *ngIf="!this.connected">
      <h6><strong>A connection to the server has not been established!</strong></h6>
      <p>
        You need to be connected to the server in order to control the Arduino car.
      </p>
    </div>
  </div>
</ion-content>
