page-speaker-list {
  .scroll-content {

  }

  .speaker-card {
    height: 100%;
    display: flex;
    flex-direction: column;

    ion-card-content {
      flex: 1 1 auto;
    }
  }

  ion-label {
    font-size: 14px;
    color:#697072;
  }

  .sensor-info{
    color: lightblue;
    font-weight:bold;
  }
  // Todo: remove when this issue https://github.com/driftyco/ionic/issues/11212 is fixed
  @media(min-width: 769px) {
    .speaker-card {
      height: 370px;
    }
  }

  .speaker-card ion-card-header .item {
    padding: 4px 16px;
  }

  .speaker-card ion-card-content {
    padding-left: 0;
    padding-right: 0;
  }
}
