<ion-header no-border>
  <ion-navbar>
    <ion-buttons end *ngIf="showSkip">
      <button ion-button (click)="startApp()" color="primary">Skip</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content no-bounce>
  <ion-slides #slides (ionSlideWillChange)="onSlideChangeStart($event)" pager>

    <ion-slide>
      <img src="assets/img/ica-slidebox-img-1.png" class="slide-image"/>
      <h2 class="slide-title">
        Welcome to <b>Smart Car!</b>
      </h2>
      <p>
        Our project aims to develop an inteligent <em>Arduino</em> powered
        car.
      </p>
    </ion-slide>

    <ion-slide>
      <img src="assets/img/ica-slidebox-img-2.png" class="slide-image"/>
      <h2 class="slide-title" >What does our application do?</h2>
      <p>Using the capabilities of sensors, bluetooth and wi fi, we're able to control our <em>Smart Car</em>
        either directly or set it to drive autonomously with the functionalities of our application.
      </p>
    </ion-slide>

    <ion-slide>
      <img src="assets/img/ica-slidebox-img-4.png" class="slide-image"/>
      <h2 class="slide-title">Ready to drive?</h2>
      <button ion-button icon-right large clear (click)="startApp()">
        Continue
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-slide>

  </ion-slides>
</ion-content>
