<ion-header>
  <ion-navbar no-border-bottom>

    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="presentFilter()">
        <ion-icon ios="ios-options-outline" md="md-options"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <img src="assets/img/TOCONVERT1.png">
  
  <div padding class="about-info">
    <div *ngIf="!wifiConnection()">
      <h4>Welcome to Smart Car</h4>
      <h6><strong>You're not connected to the server!</strong></h6>
      <div text-center>
        <p>
          In order to properly use the application you need to turn on the wifi
          settings on this device and connect to the same network as our server, which will use the 
          bluetooth module of the smart car.
        </p>
      </div>
    
    </div>
    <div *ngIf="wifiConnection()">
      <h4>Welcome to Smart Car</h4>
      <h6><strong>You're connected and ready to go!</strong></h6>
      <div text-center>
        <p>
            You are already connected to our server and Arduino smart car!
            Check out Smart Drive and Manual Drive to explore the car's features.
        </p>
      </div>
    
    </div>
    <div text-center>
      <button ion-button >Refresh Status</button>
    </div>
<!-->
    <div *ngIf="!bluetoothIsEnabled">
      <h4>Welcome to Smart Car</h4>
      <h6><strong>Bluetooth is not enabled</strong></h6>
      <div text-center>
        <p>
          In order to properly use the application you need to turn on the bluetooth
          settings on this device and connect to the bluetooth module of the smart car.
        </p>

      </div>
    </div>

    <div *ngIf="bluetoothIsEnabled">

        <div *ngIf="bluetoothIsConnected">
          <h4>Welcome to Smart Car</h4>
          <h6><strong>Bluetooth is connected</strong></h6>
          <div text-center>
            <p>
              You are already connected to an Arduino smart car!
              Check Smart Drive and Manual Drive to explore the car's features.
            </p>
          </div>
        </div>
        <div *ngIf="!bluetoothIsConnected">
          <h4>Welcome to Smart Car</h4>
          <h6><strong>Bluetooth is enabled but not connected</strong></h6>
          <div text-center>
            <p>
              Your bluetooth module is available but you're not connected to
              an Arduino Smart Car, in order to do so please press the Connect 
              button to try a connection to the Arduino.
            </p>
            <button ion-button color="danger" (click)="connectBluetooth()">Connect</button>
          </div>

        </div>
      
      </div>
      <div text-center>
      <button ion-button (click)="refreshBluetoothStatus()">Refresh Status</button>
      <button ion-button (click)="listBondedDevices()">List Bonded</button>
      {{bluetoothSettings}}
    </div>
    <-->
  </div>
</ion-content>
